@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>


<address>
    <strong>Mail:</strong>   <a href="mailto:domagoj.krivosic@fer.hr">domagoj.krivosic@fer.hr</a><br />
    <strong>Github:</strong> <a href="https://github.com/dkrivosic">dkrivosic</a><br />
    <strong>LinkedIN:</strong> <a href="https://hr.linkedin.com/in/domagojkrivosic">domagojkrivosic</a>
</address>