@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Prakse.HR</h1>
    <p class="lead">Pronađi praksu ili postavi oglas.</p>
    <p><a href="/Oglas/Index" class="btn btn-primary btn-lg">Pregledaj oglase &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Registracija</h2>
        <p>
            Registrirani korisnici mogu dodavati nove oglase, dodavati i recenzirati tvrtke.
        </p>
        <p><a class="btn btn-default" href="/Account/Register">Registracija &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Prijava</h2>
        <p>Ako ste se već registrirali, a niste prijavljeni, možete se prijaviti ovdje.</p>
        <p><a class="btn btn-default" href="/Account/Login">Prijava &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Kontakt</h2>
        <p>Ako imate bilo kakvih pitanja ili prijedloga, kontaktirajte me.</p>
        <p><a class="btn btn-default" href="/Home/Contact">Kontakt &raquo;</a></p>
    </div>
</div>